<!DOCTYPE html>
<html lang="en">
<head>
    <title>Testing table filter - title</title>
</head>
<body>

    <h1>Deployment Dashboard Service - Under Construction 
        <a href="https://percipientai.atlassian.net/browse/MIR-10997" target="_blank">Feedback</a>
    </h1>

<table id="instanceTable">
    <thead>
        <tr>
            <th>Hostname</th>
            <th>Module</th>
            <th>Version</th>
            <!--
            <th>Services</th>
            -->
            <th>User</th>
            <th>Date</th>
        </tr>
    </thead>
    <tbody>
    {% for instance in instances %}
        <tr>
            <td>
                {{ instance.targetAppliance }}
            </td>
            <td>
                {{ instance.moduleType }}
            </td>
            <td>
                {{ instance.version }}
            </td>
            <!--
            <td>
                {{ instance.services }}
                NA               
            </td>
             -->

            <td>
                {{ instance.triggerer }}
            </td>
            <td>
                {{ instance.timeStamp }} 
            </td>

        </tr>

    {% endfor %}

    </tbody>
</table>

{% load static %}
<script src="{% static "/tablefilter/tablefilter.js" %}"></script>


<script data-config>
    var filtersConfig = {
        base_path: "{% static "/tablefilter/" %}",
        col_1: 'select',
        col_2: 'select',
        col_3: 'select',
        alternate_rows: true,
        rows_counter: true,
        btn_reset: true,
        loader: true,
        mark_active_columns: true,
        highlight_keywords: true,

        toolbar: false,
        tickToHide: true,

        col_types: [
            'string', 'string', 'string', 'string', 'string'],
        col_widths: [
            '280px', '70px', '140px', '100px', '190px'],
        extensions:[{ name: 'sort' }]
    };

    var tf = new TableFilter('instanceTable', filtersConfig);
    tf.init();

</script>

<pre></pre>


</body>
</html>